/* Button Style */
#Rankings button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Male Rankings Button */
  #maleButton {
    background-color: #3498db;
    color: #fff;
  }
  
  #maleButton:hover {
    background-color: #2980b9;
  }
  
  /* Female Rankings Button */
  #femaleButton {
    background-color: #2ecc71;
    color: #fff;
  }
  
  #femaleButton:hover {
    background-color: #27ae60;
  }
  
  /* Hide Rankings Button */
  #hideButton {
    background-color: #e74c3c;
    color: #fff;
  }
  
  #hideButton:hover {
    background-color: #c0392b;
  }


  /* Comments Button Style */
#toggle-comments {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #toggle-comments:hover {
    background-color: #2980b9;
  }
  
  #toggle-comments.clicked {
    background-color: #e74c3c;
  }
  
  #toggle-comments.clicked:hover {
    background-color: #c0392b;
  }
  
  
  /* LIVE Style */
  #live-tennis {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .video-container {
    width: 100%;
  }
  
  .comments-container {
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease;
    background-color: #f5f5f5; /* Light gray background for comments */
  }
  
  #live-tennis.show-comments .video-container {
    width: 70%; /* When comments are shown, reduce the width of the live stream */
  }
  
  #live-tennis.show-comments .comments-container {
    width: 30%; /* When comments are shown, expand the width of the comments */
  }
  
  #comments {
    padding: 20px; /* Add some padding to the comments */
  }
  
  iframe {
    width: 100%; /* Make sure the iframe fills its container */
    border: none; /* Remove border for iframes */
  }

/* navbar */

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    right:5px;
}

/* Dropdown button */
.dropbtn {
    background-color: #7eb3c7;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.dropdown-content ul li {
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content ul li a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content ul li:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  